# Librerias

In [1]:
import pandas as pd
from pandas import json_normalize
import ast

# Descargamos el json

Para eso leemos el archivo australian_users_items.json con la libreria ast y lo convertimos en un DataFrame de pandas para poder manejarlo

In [2]:
aus_user_items = []
with open('australian_users_items.json', 'r', encoding='utf-8') as file:
    for line in file.readlines():
        aus_user_items.append(ast.literal_eval(line))

user_items_original = pd.DataFrame(aus_user_items)

Creamos una copia para poder manejarla con mayor tranquilidad y por cualquier error no tener que descargar nuevamente los datos

In [3]:
user_items = user_items_original.copy()

Hacemos una primera revision de los datos, para saber cantidad de registros y si hay datos vacíos o nulos.

In [4]:
print(f'Formato del DataFrame: {user_items.shape}')
user_items.info()

Formato del DataFrame: (88310, 5)
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 88310 entries, 0 to 88309
Data columns (total 5 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   user_id      88310 non-null  object
 1   items_count  88310 non-null  int64
 2   steam_id     88310 non-null  object
 3   user_url     88310 non-null  object
 4   items        88310 non-null  object
dtypes: int64(1), object(4)
memory usage: 3.4+ MB

In [5]:
user_items.head(2)

,user_id,items_count,steam_id,user_url,items
0,76561197970982479,277,76561197970982479,http://steamcommunity.com/profiles/76561197970...,"[{'item_id': '10', 'item_name': 'Counter-Strik..."
1,js41637,888,76561198035864385,http://steamcommunity.com/id/js41637,"[{'item_id': '10', 'item_name': 'Counter-Strik..."

# Duplicados

## user_id

In [6]:
user_id_duplicados = user_items[user_items.duplicated(subset='user_id', keep=False)]
user_id_duplicados

,user_id,items_count,steam_id,user_url,items
17,76561198156664158,59,76561198156664158,http://steamcommunity.com/profiles/76561198156...,"[{'item_id': '4000', 'item_name': 'Garry's Mod..."
94,Rivtex,51,76561198104187800,http://steamcommunity.com/id/Rivtex,"[{'item_id': '320', 'item_name': 'Half-Life 2:..."
145,76561198056857968,64,76561198056857968,http://steamcommunity.com/profiles/76561198056...,"[{'item_id': '70', 'item_name': 'Half-Life', '..."
151,76561198094224872,25,76561198094224872,http://steamcommunity.com/profiles/76561198094...,"[{'item_id': '240', 'item_name': 'Counter-Stri..."
207,DieMadchenschanderin,200,76561198010679125,http://steamcommunity.com/id/DieMadchenschanderin,"[{'item_id': '1900', 'item_name': 'Earth 2160'..."
...,...,...,...,...,...
69344,darkus0haos,122,76561198073621277,http://steamcommunity.com/id/darkus0haos,"[{'item_id': '240', 'item_name': 'Counter-Stri..."
73423,76561198080057659,39,76561198080057659,http://steamcommunity.com/profiles/76561198080...,"[{'item_id': '50', 'item_name': 'Half-Life: Op..."
73424,76561198080057659,39,76561198080057659,http://steamcommunity.com/profiles/76561198080...,"[{'item_id': '50', 'item_name': 'Half-Life: Op..."
77044,farquadian,0,76561198086134170,http://steamcommunity.com/id/farquadian,[]
77045,farquadian,0,76561198086134170,http://steamcommunity.com/id/farquadian,[]

Revisamos para ver si los user_id duplicados contienen la misma informacion

In [7]:
user_items[user_items['user_id'] == 'darkus0haos']

,user_id,items_count,steam_id,user_url,items
69343,darkus0haos,122,76561198073621277,http://steamcommunity.com/id/darkus0haos,"[{'item_id': '240', 'item_name': 'Counter-Stri..."
69344,darkus0haos,122,76561198073621277,http://steamcommunity.com/id/darkus0haos,"[{'item_id': '240', 'item_name': 'Counter-Stri..."

In [8]:
user_items[user_items['user_id'] == 'DieMadchenschanderin']

,user_id,items_count,steam_id,user_url,items
207,DieMadchenschanderin,200,76561198010679125,http://steamcommunity.com/id/DieMadchenschanderin,"[{'item_id': '1900', 'item_name': 'Earth 2160'..."
5891,DieMadchenschanderin,200,76561198010679125,http://steamcommunity.com/id/DieMadchenschanderin,"[{'item_id': '1900', 'item_name': 'Earth 2160'..."

In [9]:
user_items[user_items['user_id'] == 'Rivtex']

,user_id,items_count,steam_id,user_url,items
94,Rivtex,51,76561198104187800,http://steamcommunity.com/id/Rivtex,"[{'item_id': '320', 'item_name': 'Half-Life 2:..."
5674,Rivtex,51,76561198104187800,http://steamcommunity.com/id/Rivtex,"[{'item_id': '320', 'item_name': 'Half-Life 2:..."

In [10]:
user_items[user_items['user_id'] == '76561198056857968']

,user_id,items_count,steam_id,user_url,items
145,76561198056857968,64,76561198056857968,http://steamcommunity.com/profiles/76561198056...,"[{'item_id': '70', 'item_name': 'Half-Life', '..."
5771,76561198056857968,64,76561198056857968,http://steamcommunity.com/profiles/76561198056...,"[{'item_id': '70', 'item_name': 'Half-Life', '..."
19473,76561198056857968,64,76561198056857968,http://steamcommunity.com/profiles/76561198056...,"[{'item_id': '70', 'item_name': 'Half-Life', '..."

Probando varios nos damos cuenta que efectivamente hay registros duplicados que contienen la misma informacion, por lo que decidimos eliminar directamente todos los duplicados en base al user_id

In [11]:
user_items = user_items.drop_duplicates(subset='user_id')

In [12]:
print(f'Formato del DataFrame: {user_items.shape}')
user_items.info()

Formato del DataFrame: (87626, 5)
<class 'pandas.core.frame.DataFrame'>
Index: 87626 entries, 0 to 88309
Data columns (total 5 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   user_id      87626 non-null  object
 1   items_count  87626 non-null  int64
 2   steam_id     87626 non-null  object
 3   user_url     87626 non-null  object
 4   items        87626 non-null  object
dtypes: int64(1), object(4)
memory usage: 4.0+ MB

Reindexamos

In [13]:
user_items.reset_index(drop=True, inplace=True)

## steam_id

In [14]:
steam_id_duplicados = user_items[user_items.duplicated(subset='steam_id', keep=False)]
steam_id_duplicados

,user_id,items_count,steam_id,user_url,items
9831,Panicwinter,0,76561197994379969,http://steamcommunity.com/id/Panicwinter,[]
9832,76561197994379969,0,76561197994379969,http://steamcommunity.com/profiles/76561197994...,[]

Al tener ambos el items_count en 0, lo que quiere decir que no tienen ninguna informacion de valor, decidimos eliminarlos.
Pero, primero, vamos a revisar si hay mas registros en los que el items_count sea igual a 0.

# items_count = 0

In [15]:
items_cero = user_items[user_items['items_count'] == 0]
items_cero

,user_id,items_count,steam_id,user_url,items
9,Wackky,0,76561198039117046,http://steamcommunity.com/id/Wackky,[]
11,76561198079601835,0,76561198079601835,http://steamcommunity.com/profiles/76561198079...,[]
31,hellom8o,0,76561198117222320,http://steamcommunity.com/id/hellom8o,[]
38,starkillershadow553,0,76561198059648579,http://steamcommunity.com/id/starkillershadow553,[]
54,darkenkane,0,76561198058876001,http://steamcommunity.com/id/darkenkane,[]
...,...,...,...,...,...
87614,76561198316380182,0,76561198316380182,http://steamcommunity.com/profiles/76561198316...,[]
87615,76561198316970597,0,76561198316970597,http://steamcommunity.com/profiles/76561198316...,[]
87616,76561198318100691,0,76561198318100691,http://steamcommunity.com/profiles/76561198318...,[]
87623,XxLaughingJackClown77xX,0,76561198328759259,http://steamcommunity.com/id/XxLaughingJackClo...,[]
87625,edward_tremethick,0,76561198331598578,http://steamcommunity.com/id/edward_tremethick,[]

## Eliminamos registros con items_count == 0

ya que no nos aporta informacion de valor para este analisis

In [16]:
user_items = user_items[user_items['items_count'] != 0]

In [17]:
user_items.shape

(70912, 5)

# Eliminamos columnas innecesarias

In [18]:
user_items.drop(columns=['items_count', 'steam_id', 'user_url'], axis=1, inplace=True)

In [19]:
user_items.head()

             user_id                                              items
0  76561197970982479  [{'item_id': '10', 'item_name': 'Counter-Strik...
1            js41637  [{'item_id': '10', 'item_name': 'Counter-Strik...
2          evcentric  [{'item_id': '1200', 'item_name': 'Red Orchest...
3         Riot-Punch  [{'item_id': '10', 'item_name': 'Counter-Strik...
4              doctr  [{'item_id': '300', 'item_name': 'Day of Defea...

# Desanidamos la columna items

Para esto comenzamos haciendo un .explode() para que me ubique un item por registro.

In [20]:
user_items = user_items.explode('items', ignore_index=True)

In [21]:
print(f'Formato del DataFrame: {user_items.shape}')
user_items.head()

Formato del DataFrame: (5094082, 2)

             user_id                                              items
0  76561197970982479  {'item_id': '10', 'item_name': 'Counter-Strike...
1  76561197970982479  {'item_id': '20', 'item_name': 'Team Fortress ...
2  76561197970982479  {'item_id': '30', 'item_name': 'Day of Defeat'...
3  76561197970982479  {'item_id': '40', 'item_name': 'Deathmatch Cla...
4  76561197970982479  {'item_id': '50', 'item_name': 'Half-Life: Opp...

Luego aplicamos la funcion json_normalize() para desanidar la columna en varias columnas y luego concatenamos dichas columnas a nuestro DataFrame.

In [22]:
df_normalized = json_normalize(user_items['items'])

user_items = pd.concat([user_items, df_normalized], axis=1)

In [23]:
user_items.head()

,user_id,items,item_id,item_name,playtime_forever,playtime_2weeks
0,76561197970982479,"{'item_id': '10', 'item_name': 'Counter-Strike...",10,Counter-Strike,6,0
1,76561197970982479,"{'item_id': '20', 'item_name': 'Team Fortress ...",20,Team Fortress Classic,0,0
2,76561197970982479,"{'item_id': '30', 'item_name': 'Day of Defeat'...",30,Day of Defeat,7,0
3,76561197970982479,"{'item_id': '40', 'item_name': 'Deathmatch Cla...",40,Deathmatch Classic,0,0
4,76561197970982479,"{'item_id': '50', 'item_name': 'Half-Life: Opp...",50,Half-Life: Opposing Force,0,0

# Eliminamos columnas innecesarias

In [24]:
user_items = user_items.drop(columns=['items', 'playtime_2weeks'], axis=1)

In [25]:
print(f'Formato del DataFrame: {user_items.shape}')
user_items.info()

Formato del DataFrame: (5094082, 4)
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5094082 entries, 0 to 5094081
Data columns (total 4 columns):
 #   Column            Dtype
---  ------            -----
 0   user_id           object
 1   item_id           object
 2   item_name         object
 3   playtime_forever  int64
dtypes: int64(1), object(3)
memory usage: 155.5+ MB

Reindexamos

In [26]:
user_items.reset_index(drop=True, inplace=True)

In [27]:
print(user_items.info())
user_items.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5094082 entries, 0 to 5094081
Data columns (total 4 columns):
 #   Column            Dtype
---  ------            -----
 0   user_id           object
 1   item_id           object
 2   item_name         object
 3   playtime_forever  int64
dtypes: int64(1), object(3)
memory usage: 155.5+ MB
None

             user_id item_id                  item_name  playtime_forever
0  76561197970982479      10             Counter-Strike                 6
1  76561197970982479      20      Team Fortress Classic                 0
2  76561197970982479      30              Day of Defeat                 7
3  76561197970982479      40         Deathmatch Classic                 0
4  76561197970982479      50  Half-Life: Opposing Force                 0

# Descargamos el csv

In [28]:
user_items.to_csv('user_items.csv', index=False)